global:
  scrape_interval: 15s

rule_files:
  - /etc/prometheus/rules/alerts.yml

scrape_configs:
  - job_name: 'gitlab'
    scheme: http
    metrics_path: '/-/metrics'
    params:
      token: ['{{ prometheus_token }}']
    static_configs:
      - targets: ['gitlab:80']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'gitlab_sidekiq'
    static_configs:
      - targets: ['gitlab:8082']

  - job_name: 'puma'
    static_configs:
      - targets: ['gitlab:8083']

  - job_name: 'redis_exporter'
    static_configs:
      - targets: ['redis_exporter:9121']

  - job_name: 'gitlab_exporter'
    static_configs:
      - targets: ['gitlab:9168']

  - job_name: 'gitaly'
    static_configs:
      - targets: ['gitlab:9236']

  - job_name: 'gitlab_workhorse'
    static_configs:
      - targets: ['gitlab:9229']

  - job_name: 'postgre_exporter'
    static_configs:
      - targets: ['gitlab:9187']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets: ['alertmanager:9093']
